{% extends 'base.html.twig' %}

{% block title %}ComptAgency - Acceuil
{% endblock %}

{% block body %}
	<main>
		{# slider #}
		<section class="slider">
			<img class="img__slider active" src="{{asset('assets/images/calculateur.jpg')}}" alt="calculateur">
			<img class="img__slider" src="{{asset('assets/images/digitalMarketing.jpg')}}" alt="digitalMarketing">
			<img class="img__slider" src="{{asset('assets/images/ecommerce.jpg')}}" alt="ecommerce">
			<img class="img__slider" src="{{asset('assets/images/graphique.jpg')}}" alt="graphique">
			<div
				class="right">{# <i class="fas fa-angle-double-right"></i> #}
			</div>
			<div
				class="left">{# <i class="fas fa-angle-double-left"></i> #}
			</div>
			<article class="cta d-flex flex-column justify-content-center align-items-center">
				<h1 class="text-white">ComptAgency</h1>
				<p class="text-white">Faites confiance aux expèrt</p>
			</article>
		</section>
		{# ----------Présentation--------- #}
		<section class="pt-4 mb-3 d-flex flex-wrap justify-content-around align-items-center">
			<article class="max-w-650 px-3">
				<h1 class="text-center">Nos prestations</h1>
				<p class="text-center">Accompagner les entreprises dans leur développement</p>
				<h2 class="">Nos métiers</h2>
				<ul class="">
					<li>
						<strong>Accompagnateur du dirigeant</strong>
						dans la phase de création afin que celui-ci soit débarrasser de toute contrainte juridique, fiscale ou financière pour se concentrer sur son métier</li>
					<li>
						<strong>Auditeur interne</strong>
						dans le cadre de réorganisation ou de la mise en place de process</li>
					<li>
						<strong>Expertise comptable</strong>
						(bien évidemment) pour les missions de saisie, révision et supervision des comptes annuels</li>
					<li>
						<strong>Boosteur</strong>
						dans le cadre de la transition numérique et le suivi administratif</li>
				</ul>
			</article>
			<article class="max-w-450 px-3">
				<div class="shadow boiteCTA px-3">
					<div>
						<h1 class="text-center pt-2 text-white">Déjà client ?</h1>
						<p class="text-white">Chez ComptAgency, déposez vos documents en quelques clics afin de rendre le traitement de vôtre dossier plus facile et plus rapide :</p>
					</div>
					<div class="d-flex justify-content-around pb-3">
						<a href="#" class="btn btn-secondary mr-1">Créé votre entreprise</a>
						<a href="#" class="btn btn-secondary ml-1">Ajouter un employer</a>
					</div>
				</div>
			</article>
		</section>
		{# ---------Section "qui sommes-noues?"----------- #}
		<section class="quiSommesNous">
			<h1 class="text-center text-white pt-3">Qui sommes-nous ?</h1>
			<p class="text-center text-white">Bien vous accompagner, notre priorité</p>
			<hr class="text-w mx-3">
			<p class="text-center text-w px-3">Digitalis propose son expertise digitale dans le domaine de la comptabilité et de l’accompagnement startup. Crée depuis Novembre 2016, notre cabinet d’Expert Comptable se situe à Villenave d’ornon. Nous témoignons d’une forte présence dans le microcosme local (associatif, jury pour l’obtention de prêt d’honneur, incubateurs, pépinières d’entreprise). Nous proposons à nos clients l’accessibilité à des outils de gestion comptable afin de leur faire gagner du temps (mon expert en gestion, quadrabox, receiptbank…).<br/>
				<br/>
				Le responsable de cette société, Julien PORCARELLI, possède une expérience de plus de 5 ans en cabinet d’Audit international. De plus, il a effectué un passage pendant 4 ans en poste de RAF au sein d’une entreprise de e-commerce où la mission de digitalisation et d’automatisation de process administratif et comptable lui a été confiée (océrisation).
			</p>
			{# -----------slider--------- #}
			<article id="carouselWithIndicators" class="carousel slide pointer-event  max-w-650 mx-auto my-5" data-bs-ride="carousel">
				<ol class="carousel-indicators">
					<li data-bs-target="#carouselWithIndicators" data-bs-slide-to="0" class="active"></li>
					<li data-bs-target="#carouselWithIndicators" data-bs-slide-to="1"></li>
					<li data-bs-target="#carouselWithIndicators" data-bs-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="{{asset('assets/images/ecommerce.jpg')}}" class="d-block w-100" alt="Slide 1">
					</div>
					<div class="carousel-item">
						<img src="{{asset('assets/images/ecommerce.jpg')}}" class="d-block w-100" alt="Slide 2">
					</div>
					<div class="carousel-item">
						<img src="{{asset('assets/images/ecommerce.jpg')}}" class="d-block w-100" alt="Slide 3">
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselWithIndicators" role="button" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselWithIndicators" role="button" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</a>
			</article>
			<article class="d-flex flex-wrap justify-content-around">
				<div class="max-w-350">
					<h3 class="text-white text-center pb-2">Qui sont nos clients ?</h3>
					<ul>
						<li class="text-w mb-2">Créateurs d’entreprise (optimisation du statut social, aide au business-plan, accompagnement bancaire, aide aux 1er mois pour le pilotage)</li>
						<li class="text-w mb-2">Les start-up (Accompagnement pour les levées de fonds, structuration administrative, mise en place d’outils de suivis KPI’s)</li>
						<li class="text-w mb-2">Les cliniques privées dans le cadre de mission d’expertise comptable ou d’audits ponctuels</li>
						<li class="text-w">Toutes les entreprises désirant un conseil approprié et souhaitant partager un peu de bonne humeur !</li>
					</ul>
				</div>
				<div class="max-w-350">
					<h3 class="text-white text-center pb-2">Nos valeurs</h3>
					<ul>
						<li class="text-w mb-2">Volonté de bâtir des relations durables et saines permettant de créer une véritable expertise et bonne compréhension des problématiques</li>
						<li class="text-w mb-2">Intégrité, respect mutuel et esprit d’équipe sont les piliers d’une bonne collaboration commune et garante d’un travail efficace</li>
						<li class="text-w">Transparence et bienveillance sont des valeurs fondamentales pour une communication efficace autant dans la faisabilité des projets, ses implications</li>
					</ul>
				</div>
				<div class="max-w-350">
					<h3 class="text-white text-center pb-2">Nos spécialités</h3>
					<ul>
						<li class="text-w mb-2">Montage de dossier de financement pour les institutionnels ou les investisseurs et accompagnement terrain</li>
						<li class="text-w mb-2">Mise en place d’outils de suivis pour le pilotage stratégique de l’entreprise (KPI’s)</li>
						<li class="text-w mb-2">Aide à la transformation numérique dans le cadre de la structuration des services administratifs</li>
						<li class="text-w">Accompagnement dans le secteur médico social sur la partie calcul de prix de revient</li>
					</ul>
				</div>
			</article>
		</section>
		{# ---------section "Chiffre"--------- #}
		<Section class="d-flex flex-wrap justify-content-around sectionNumber">
			<article class="max-w-350 text-center">
				<p class="chiffres">
					<i class="far fa-folder"></i>
					<span class="num" data-val="234">000</span>
				</p>
				<p class="h3">Dossiers comptables suivis</p>
			</article>
			<article class="max-w-350 text-center">
				<p class="chiffres">
					<i class="fas fa-binoculars"></i>
					<span class="num" data-val="45">00</span>
				</p>
				<p class="h3">startups accompagnées par nos experts</p>
			</article>
			<article class="max-w-350 text-center">
				<p class="chiffres">
					<i class="fas fa-rocket"></i>
					<span class="num" data-val="4">0</span>
				</p>
				<p class="h3">Millions d'euros levés pour les startups suivies</p>
			</article>
		</Section>
		<section>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet expedita eius necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium necessitatibus quaerat reprehenderit? Consequatur commodi, beatae quo, deleniti praesentium architecto officiis adipisci hic distinctio temporibus, dicta sit mollitia laboriosam.</section>
	</main>

{% endblock %}
