<footer>
<section class="justify-content-center d-flex pt-3 flex-wrap px-3">
		<h6 class="size-2">Retrouvez-nous sur les reseaux :</h6>
		<div class="pl-3">
			<a href="https://github.com/essasoufiane" class="h2 text-decoration-none pr-4">
				<i class="fab fa-facebook"></i>
			</a>
			<a href="https://github.com/essasoufiane" class="h2 text-decoration-none pr-4">
				<i class="fab fa-instagram"></i>
			</a>
			<a href="https://github.com/essasoufiane" class="h2 text-decoration-none pr-4">
				<i class="fab fa-snapchat-square"></i>
			</a>
			<a href="https://github.com/essasoufiane" class="h2 text-decoration-none pr-4">
				<i class="fab fa-tiktok"></i>
			</a>
			<a href="https://github.com/essasoufiane" class="h2 text-decoration-none pr-4">
				<i class="fab fa-whatsapp"></i>
			</a>
			<a href="https://github.com/essasoufiane" class="h2 text-decoration-none">
				<i class="fab fa-twitter"></i>
			</a>
		</div>
</section>
<hr class="mx-5">
<section class="align-content-center justify-content-around d-flex flex-wrap pt-3 text-center">
		<article class="w-350">
			<h6 class="text-uppercase fw-bold mb-4">
				<i class="fas fa-gem"></i> ComptAgency
			</h6>
			<p>
				Cette entreprise n'existe pas
				<br>
				Ce site est à but pédagogique.
			</p>
		</article>
		<article class="w-350">
			<h6 class="text-uppercase fw-bold mb-4">
				Menu
			</h6>
		{% if is_granted('ROLE_USER') %}
			<p>
				<a href="{{path('app_entreprise_index')}}" class="text-reset">Entreprise</a>
			</p>
			<p>
				<a href="{{path('app_user_index')}}" class="text-reset">Mon compte</a>
			</p>
			<p>
				<a href="{{path('app_avis_index')}}" class="text-reset">Vos avis</a>
			</p>
			<p>
				<a href="{{path('app_logout')}}" class="text-reset">Deconnexion</a>
			</p>
			{% else %}
			<p>
				<a href="{{path('app_login')}}" class="text-reset">Connexion</a>
			</p>
			<p>
				<a href="{{path('app_register')}}" class="text-reset">Inscription</a>
			</p>
			<p>
				<a href="{{path('app_contact_new')}}" class="text-reset">Contact</a>
			</p>
			<p>
				<a href="{{path('app_avis_index')}}" class="text-reset">Vos avis</a>
			</p>
			{% endif %}
		</article>

		<article class="w-350">
			<h6 class="text-uppercase fw-bold mb-4">
				Contact
			</h6>
			<p>
				<i class="fas fa-home"></i> Bordeaux, France</p>
			<p>
				<i class="fas fa-envelope"></i>
				<a href="mailto:soufiane.pro@yahoo.com"> soufiane.pro@yahoo.com</a>
			</p>
			<p>
				<i class="fas fa-phone"></i>
				<a href="tel:+33766224284"> 0766224284</a>
			</p>
		</article>
</section>
<section class="text-center sectionCopy">
<p class="copy py-2">© 2022 Copyright: ComptAgency</p>
</section>
</footer>
