{% extends 'base.html.twig' %}

{% block title %}Messages visiteurs{% endblock %}

{% block body %}
<div class="container">
    <h1 class="titleContact py-3">Messages visiteurs</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th class="desk">Nom</th>
                <th class="desk">Tél</th>
                <th class="desk">Message</th>
                <th class="text-center">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.email }}</td>
                <td class="desk">{{ contact.name }}</td>
                <td class="desk">{{ contact.phone }}</td>
                <td class="desk">{{ contact.message }}</td>
                <td class="text-center">
                    <a class="text-black mr-2" href="{{ path('app_contact_show', {'id': contact.id}) }}"><i class="fa-solid fa-eye"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Il n'y a aucun message</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
