{% extends 'base.html.twig' %}

{% block title %}Messages envoyés
{% endblock %}

{% block body %}
	<Section class="container">

				<h1 class="titleContact py-3">Messagerie</h1>
				<h2 class="titleContact py-3">Boîte d'envoie</h2>
				<p class="labelForm">Vous avez reçu {{ app.user.recevied|length }} messages</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="desk">À</th>
                <th>Sujet</th>
                <th class="desk">Date</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for  message in app.user.sent %}
        				{# mets en gras les message non lu #}
				{% if message.isRead == 0 %}
					{% set lu = "fw-bold" %}
				{% else %}
					{% set lu = "" %}
				{% endif %}
            <tr class="{{ lu }}">
                <td class="desk">{{ message.recipient.email }}</td>
                <td class="">{{ message.title }}</td>
                <td class="desk">{{ message.createdAt|date }}</td>
                {# <td class="desk">{{ entreprise.siren }}</td> #}
                <td class="text-center">
                   <a class="text-black labelForm" href="{{ path('app_messages_show', {'id': message.id}) }}"><i class="fa-solid fa-eye"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Vous n'avez pas encore de message</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	<a class="btn btn-success mt-3" href="{{ path('app_messages_new') }}">Nouveau</a>
	</Section>
{% endblock %}
