{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Phone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {# {% for user in users %} #}
            <tr>
                <td>{{ app.user.id }}</td>
                <td>{{ app.user.email }}</td>
                <td>{{ app.user.lastname }}</td>
                <td>{{ app.user.firstname }}</td>
                <td>{{ app.user.phone }}</td>
                <td>
                    {# <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a> #}
                    <a href="{{ path('app_user_edit', {'id': app.user.id}) }}" class="text-black"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {# {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %} #}
        </tbody>
    </table>

    {# <a href="{{ path('app_user_delete', {'id': app.user.id}) }}">Supprimer mon compte</a> #}
{% endblock %}
